@model List<News_task.Models.Database.News>
@{
    ViewBag.Title = "NewsList";
    Layout = "~/Views/Shared/_NewsLayout.cshtml";
}

<h2>NewsList</h2>

<table class="table table-bordered">
    <tr>
        <th> ID</th>
        <th> Title</th>
        <th> Description</th>
        <th> Category</th>
        <th> Publish Date</th>
        <th></th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td> @p.Id</td>
            <td> @p.Title</td>
            <td> @p.Description</td>
            <td> @p.Category</td>
            <td> @p.PublishDate</td>
            <td><a href="/News/Edit/@p.Id">Edit</a></td>


        </tr>


    }


</table>